PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime, "role" varchar not null default 'editor', "is_active" tinyint(1) not null default '1');
INSERT INTO users VALUES(1,'Administrator','admin@profilemiis.test',NULL,'$2y$12$7Y/CksUBZYulSv0ZIKaNxefuslUsxYKSCVX2lTB/m.ItroXHNd/Tu','Ug2xHUxOubUCvmO3f7WhqEvjsBHKCdQfdLJKALPCR79WqtmXusy4zMruhUJU','2026-08-13 01:16:56','2026-08-13 21:05:41','super_admin',1);
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('4u8m4i3d42Tbu0qSKD5qfDgWGUqnTUSdpKMbQjTq',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/152.0.0.0 Safari/537.36 Edg/152.0.0.0','eyJfdG9rZW4iOiJ2VHFUY2RWVHpkMnd1cEl6ZHZ5Q1A3cWpPVVFMUjJDU1NrdkVmNW5RIiwiX3ByZXZpb3VzIjp7InVybCI6Imh0dHA6XC9cLzEyNy4wLjAuMTo4MDAwIiwicm91dGUiOiJob21lIn0sIl9mbGFzaCI6eyJvbGQiOltdLCJuZXciOltdfX0=',1788174300);
INSERT INTO sessions VALUES('YgfLs4N2N2lJxAYjwYvspSV9DfdcQTb8AMkVjSHy',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/152.0.0.0 Safari/537.36 Edg/152.0.0.0','eyJfdG9rZW4iOiJkYmE5UkhBSEhSZ2sxY1pHdVNlSkMwTUxaYkVQelNRYndSd2dNUzhvIiwiX3ByZXZpb3VzIjp7InVybCI6Imh0dHA6XC9cLzEyNy4wLjAuMTo4MDAwIiwicm91dGUiOiJob21lIn0sIl9mbGFzaCI6eyJvbGQiOltdLCJuZXciOltdfX0=',1788358609);
INSERT INTO sessions VALUES('c9XlBIOiFy3qL58m9thkNFbGh8SnbDy2llMEfHPT',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/152.0.0.0 Safari/537.36 Edg/152.0.0.0','eyJfdG9rZW4iOiJ5bFluWlFNUkVFMGxrWXRQeXlGeDFidUtqc2Fia0lvTldpdmZadDJRIiwiX3ByZXZpb3VzIjp7InVybCI6Imh0dHA6XC9cLzEyNy4wLjAuMTo4MDAwIiwicm91dGUiOiJob21lIn0sIl9mbGFzaCI6eyJvbGQiOltdLCJuZXciOltdfX0=',1788358610);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" varchar not null, "queue" varchar not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "school_profiles" ("id" integer primary key autoincrement not null, "name" varchar not null, "npsn" varchar, "ns_madrasah" varchar, "accreditation" varchar, "logo_path" varchar, "tagline" varchar, "short_description" text, "about" text, "address" text not null, "village" varchar, "district" varchar, "regency" varchar, "province" varchar, "postal_code" varchar, "phone" varchar, "whatsapp" varchar, "email" varchar, "website" varchar, "map_embed_url" text, "latitude" numeric, "longitude" numeric, "created_at" datetime, "updated_at" datetime, "foto_sekolah_path" varchar);
CREATE TABLE IF NOT EXISTS "pages" ("id" integer primary key autoincrement not null, "title" varchar not null, "slug" varchar not null, "excerpt" text, "content" text, "cover_image_path" varchar, "meta_title" varchar, "meta_description" text, "is_published" tinyint(1) not null default '0', "published_at" datetime, "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "principal_messages" ("id" integer primary key autoincrement not null, "name" varchar not null, "position" varchar not null default 'Kepala Madrasah', "photo_path" varchar, "message" text not null, "signature_path" varchar, "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime, "title" varchar);
CREATE TABLE IF NOT EXISTS "hero_slides" ("id" integer primary key autoincrement not null, "title" varchar not null, "subtitle" text, "image_path" varchar not null, "mobile_image_path" varchar, "button_label" varchar, "button_url" varchar, "overlay_opacity" integer not null default '45', "sort_order" integer not null default '0', "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime);
INSERT INTO hero_slides VALUES(1,'Madrasah Unggul Berkarakter Islami','MI Islamiyah Syafi''iyah Kotaanyar hadir memberikan pendidikan berkualitas dengan mengutamakan ilmu, iman, dan akhlak.','hero/byxMKTMPA3xk0bV8TjXHIMfxaf8BvQAKHX2t8uHm.jpg',NULL,NULL,NULL,45,1,1,'2026-08-29 02:52:58','2026-08-29 02:52:58');
CREATE TABLE IF NOT EXISTS "homepage_sections" ("id" integer primary key autoincrement not null, "key" varchar not null, "title_override" varchar, "subtitle_override" text, "sort_order" integer not null default '0', "is_active" tinyint(1) not null default '1', "item_limit" integer, "settings" text, "created_at" datetime, "updated_at" datetime);
INSERT INTO homepage_sections VALUES(1,'about','Tentang Madrasah','Mengenal lebih dekat MI Islamiyah Syafi''iyah sebagai madrasah unggul berkarakter Islami.',1,1,1,NULL,'2026-08-30 02:19:36','2026-08-30 02:19:36');
INSERT INTO homepage_sections VALUES(2,'programs','Program Unggulan','Program pendidikan unggulan untuk membentuk siswa yang berilmu dan berakhlak.',2,1,3,NULL,'2026-08-30 02:20:45','2026-08-30 02:20:45');
INSERT INTO homepage_sections VALUES(3,'news','Berita & Kegiatan','Informasi terbaru seputar kegiatan MI Islamiyah Syafi''iyah.',3,1,3,NULL,'2026-08-30 02:24:27','2026-08-30 02:24:27');
CREATE TABLE IF NOT EXISTS "staff" ("id" integer primary key autoincrement not null, "name" varchar not null, "nip" varchar, "position" varchar not null, "employment_type" varchar, "education" varchar, "subject_or_duty" varchar, "photo_path" varchar, "bio" text, "sort_order" integer not null default '0', "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime, "deleted_at" datetime);
CREATE TABLE IF NOT EXISTS "featured_programs" ("id" integer primary key autoincrement not null, "title" varchar not null, "slug" varchar not null, "short_description" text, "description" text, "icon" varchar, "image_path" varchar, "sort_order" integer not null default '0', "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime, "deleted_at" datetime);
INSERT INTO featured_programs VALUES(1,'Sholat Dhuha','sholat-dhuha','Kegiatan sholat dhuha','Kegiatan sholat dhuha bersama dilakukan setelah bel berbunyi ,kegiatan ini bermanfaat untuk meningkatkan keamanan pada setiap siswa',NULL,'programs/HudRmC2d2eBGyhIpvgE3wY0m5cFFVCfSqdNQUAwY.jpg',1,1,'2026-08-14 13:29:54','2026-08-14 13:29:54',NULL);
CREATE TABLE IF NOT EXISTS "post_categories" ("id" integer primary key autoincrement not null, "name" varchar not null, "slug" varchar not null, "description" text, "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime);
INSERT INTO post_categories VALUES(1,'Berita Madrasah','berita-madrasah','Kabar dan informasi terbaru dari madrasah.',1,'2026-08-14 13:08:03','2026-08-14 13:08:03');
INSERT INTO post_categories VALUES(2,'Kegiatan Sekolah','kegiatan-sekolah','Dokumentasi kegiatan pembelajaran dan sekolah.',1,'2026-08-14 13:08:03','2026-08-14 13:08:03');
INSERT INTO post_categories VALUES(3,'Pengumuman','pengumuman','Pengumuman resmi untuk siswa, orang tua, dan masyarakat.',1,'2026-08-14 13:08:03','2026-08-14 13:08:03');
CREATE TABLE IF NOT EXISTS "posts" ("id" integer primary key autoincrement not null, "post_category_id" integer not null, "author_id" integer, "title" varchar not null, "slug" varchar not null, "excerpt" text, "content" text not null, "featured_image_path" varchar, "status" varchar not null default 'draft', "published_at" datetime, "meta_title" varchar, "meta_description" text, "views_count" integer not null default '0', "created_at" datetime, "updated_at" datetime, "deleted_at" datetime, foreign key("post_category_id") references "post_categories"("id") on delete restrict, foreign key("author_id") references "users"("id") on delete set null);
INSERT INTO posts VALUES(1,2,1,'Istighosah bersama setiap hari Jum''at','istighosah-bersama-setiap-hari-jumat',NULL,'Kegiatan Istighosah bersama yg dilaksanakan setiap hari jum''at pagi setelah bel berbunyi','posts/axX0MltC3Uva0W6RxkN5gP7wm7LJv4ga8eeVKFoH.png','published','2026-08-07 07:04:00',NULL,NULL,0,'2026-08-14 13:26:22','2026-08-14 13:26:22',NULL);
CREATE TABLE IF NOT EXISTS "achievements" ("id" integer primary key autoincrement not null, "title" varchar not null, "slug" varchar not null, "recipient_name" varchar, "level" varchar, "organizer" varchar, "achievement_date" date, "description" text, "image_path" varchar, "certificate_path" varchar, "sort_order" integer not null default '0', "is_published" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime, "deleted_at" datetime);
INSERT INTO achievements VALUES(1,'Juara 2 Lomba Gerak jalan Putri Tingkat SD/MI  se-Kecamatan Kotaanyar','juara-2-lomba-gerak-jalan-putri-tingkat-sdmi-se-kecamatan-kotaanyar','Siswa','Tingkat Kecamatan',NULL,'2026-08-22 00:00:00','Memenangkan juara 2 untuk lomba Gerak Jalan Putri tingkat sd/mi yg diselenggarakan oleh kecamatan kotaanyar yg di laksanakan tanggal 22 agustus 2026 tepat di hari sabtu','achievements/vzIDNQ8XylHI5AfPzIe1K4DXi20xf4MATwXwnX1g.png',NULL,2,1,'2026-08-28 01:05:00','2026-08-28 01:05:00',NULL);
INSERT INTO achievements VALUES(2,'Juara Harapan 1 Gerak Jalan Putra Tingkat SD/MI se kecamatan Kotaanyar','juara-harapan-1-gerak-jalan-putra-tingkat-sdmi-se-kecamatan-kotaanyar','Siswa','Tingkat Kecamatan',NULL,'2026-08-22 00:00:00','Juara Harapan 1 Gerak Jalan Putra Tingkat SD/MI Yang Diselenggarakan Oleh kecamatan Kotaanyar Pada 22 Agustus 2026 Tepatnya Pada Hari Sabtu','achievements/uZLQ2YDnRo3LaxXEE3vVwqezv0i6yMzoVQT70wLo.png',NULL,1,1,'2026-08-28 01:11:00','2026-08-28 01:11:00',NULL);
CREATE TABLE IF NOT EXISTS "agendas" ("id" integer primary key autoincrement not null, "title" varchar not null, "slug" varchar not null, "description" text, "cover_image_path" varchar, "location" varchar, "start_at" datetime not null, "end_at" datetime, "registration_url" varchar, "is_published" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "gallery_albums" ("id" integer primary key autoincrement not null, "title" varchar not null, "slug" varchar not null, "description" text, "cover_image_path" varchar, "event_date" date, "sort_order" integer not null default '0', "is_published" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime, "deleted_at" datetime);
INSERT INTO gallery_albums VALUES(1,'Ngaji Tartila  Rutin setiap Pagi','ngaji-tartila-rutin-setiap-pagi','Mengaji Tartila dan Setoran setiap pagi sebelum sholat dhuha kepada ustadz/ustadzah yg mengajar','gallery/albums/EYc30GiJMCBCqVySzBqEC5ARTbl4puYtDzlBS2rw.jpg','2026-08-04 00:00:00',1,1,'2026-08-14 13:00:09','2026-08-14 13:00:09',NULL);
CREATE TABLE IF NOT EXISTS "gallery_photos" ("id" integer primary key autoincrement not null, "gallery_album_id" integer not null, "image_path" varchar not null, "caption" varchar, "alt_text" varchar, "sort_order" integer not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("gallery_album_id") references "gallery_albums"("id") on delete cascade);
INSERT INTO gallery_photos VALUES(1,1,'gallery/photos/nOLapExS56ZhrM8Jmp2Ih8T5ZX7PtX7GkvhpSPrD.jpg',NULL,NULL,0,'2026-08-14 13:00:35','2026-08-14 13:00:35');
CREATE TABLE IF NOT EXISTS "facilities" ("id" integer primary key autoincrement not null, "name" varchar not null, "slug" varchar not null, "description" text, "image_path" varchar, "quantity" integer, "unit" varchar, "sort_order" integer not null default '0', "is_published" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime, "deleted_at" datetime);
INSERT INTO facilities VALUES(1,'Ruang Guru','ruang-guru','Ruang Guru yang nyaman dan luas','facilities/bbJvlCvkicDEWdvra5lfazu195bVlmjgy6kDdgTz.jpg',1,'Ruang Guru',1,1,'2026-08-14 22:29:29','2026-08-14 22:30:26',NULL);
CREATE TABLE IF NOT EXISTS "ppdb_periods" ("id" integer primary key autoincrement not null, "academic_year" varchar not null, "title" varchar not null, "slug" varchar not null, "description" text, "banner_path" varchar, "registration_start_at" datetime, "registration_end_at" datetime, "announcement_at" datetime, "registration_url" varchar, "contact_whatsapp" varchar, "is_active" tinyint(1) not null default '0', "is_published" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime);
CREATE TABLE IF NOT EXISTS "ppdb_requirements" ("id" integer primary key autoincrement not null, "ppdb_period_id" integer not null, "title" varchar not null, "description" text, "sort_order" integer not null default '0', "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime, foreign key("ppdb_period_id") references "ppdb_periods"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "ppdb_steps" ("id" integer primary key autoincrement not null, "ppdb_period_id" integer not null, "title" varchar not null, "description" text, "sort_order" integer not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("ppdb_period_id") references "ppdb_periods"("id") on delete cascade);
CREATE TABLE IF NOT EXISTS "contacts" ("id" integer primary key autoincrement not null, "label" varchar not null, "type" varchar not null, "value" varchar not null, "url" varchar, "sort_order" integer not null default '0', "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime);
INSERT INTO contacts VALUES(1,'Alamat Sekolah','maps','dusun gasal kotaanyar','https://maps.app.goo.gl/cGQSKamZLg2B9KsA8',1,1,'2026-08-14 13:36:07','2026-08-14 13:36:07');
INSERT INTO contacts VALUES(2,'whattsapp','whatsapp','+62 852-3655-1241',NULL,2,1,'2026-08-15 02:17:19','2026-08-15 02:17:19');
CREATE TABLE IF NOT EXISTS "social_links" ("id" integer primary key autoincrement not null, "platform" varchar not null, "label" varchar, "url" varchar not null, "icon" varchar, "sort_order" integer not null default '0', "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime);
INSERT INTO social_links VALUES(1,'Youtube',NULL,'https://youtube.com/@miislamiyahsyafiiyah2284?si=cNBmwU0hOBvYl-9n','Youtube',1,1,'2026-08-15 02:11:17','2026-08-15 02:11:17');
INSERT INTO social_links VALUES(2,'Facebook',NULL,'https://www.facebook.com/share/17jUjpQYHs/','Facebook',2,1,'2026-08-15 02:13:31','2026-08-15 02:13:31');
CREATE TABLE IF NOT EXISTS "site_settings" ("id" integer primary key autoincrement not null, "group" varchar not null, "key" varchar not null, "value" text, "type" varchar not null default 'text', "is_public" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime);
INSERT INTO site_settings VALUES(1,'general','site_name','MI Islamiyah Syafi''iyah','text',1,'2026-08-29 00:01:27','2026-08-29 00:01:27');
INSERT INTO site_settings VALUES(2,'general','site_tagline','Madrasah Unggul Berkarakter Islami','text',1,'2026-08-29 00:02:29','2026-08-29 00:02:29');
INSERT INTO site_settings VALUES(3,'seo','meta_description','Website resmi MI Islamiyah Syafi''iyah Kotaanyar. Menyajikan informasi profil madrasah, berita, kegiatan, prestasi, galeri, fasilitas, dan penerimaan peserta didik baru.','textarea',1,'2026-08-29 02:29:41','2026-08-29 02:29:41');
INSERT INTO sqlite_sequence VALUES('migrations',10);
INSERT INTO sqlite_sequence VALUES('users',1);
INSERT INTO sqlite_sequence VALUES('gallery_albums',1);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "cache_expiration_index" on "cache" ("expiration");
CREATE INDEX "cache_locks_expiration_index" on "cache_locks" ("expiration");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE INDEX "failed_jobs_connection_queue_failed_at_index" on "failed_jobs" ("connection", "queue", "failed_at");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE INDEX "users_role_index" on "users" ("role");
CREATE INDEX "users_is_active_index" on "users" ("is_active");
CREATE UNIQUE INDEX "school_profiles_npsn_unique" on "school_profiles" ("npsn");
CREATE UNIQUE INDEX "school_profiles_ns_madrasah_unique" on "school_profiles" ("ns_madrasah");
CREATE INDEX "pages_is_published_published_at_index" on "pages" ("is_published", "published_at");
CREATE UNIQUE INDEX "pages_slug_unique" on "pages" ("slug");
CREATE INDEX "principal_messages_is_active_index" on "principal_messages" ("is_active");
CREATE INDEX "hero_slides_is_active_sort_order_index" on "hero_slides" ("is_active", "sort_order");
CREATE INDEX "homepage_sections_is_active_sort_order_index" on "homepage_sections" ("is_active", "sort_order");
CREATE UNIQUE INDEX "homepage_sections_key_unique" on "homepage_sections" ("key");
CREATE INDEX "staff_is_active_sort_order_index" on "staff" ("is_active", "sort_order");
CREATE UNIQUE INDEX "staff_nip_unique" on "staff" ("nip");
CREATE INDEX "featured_programs_is_active_sort_order_index" on "featured_programs" ("is_active", "sort_order");
CREATE UNIQUE INDEX "featured_programs_slug_unique" on "featured_programs" ("slug");
CREATE UNIQUE INDEX "post_categories_slug_unique" on "post_categories" ("slug");
CREATE INDEX "post_categories_is_active_index" on "post_categories" ("is_active");
CREATE INDEX "posts_status_published_at_index" on "posts" ("status", "published_at");
CREATE UNIQUE INDEX "posts_slug_unique" on "posts" ("slug");
CREATE INDEX "achievements_is_published_achievement_date_index" on "achievements" ("is_published", "achievement_date");
CREATE INDEX "achievements_is_published_sort_order_index" on "achievements" ("is_published", "sort_order");
CREATE UNIQUE INDEX "achievements_slug_unique" on "achievements" ("slug");
CREATE INDEX "agendas_is_published_start_at_index" on "agendas" ("is_published", "start_at");
CREATE UNIQUE INDEX "agendas_slug_unique" on "agendas" ("slug");
CREATE INDEX "gallery_albums_is_published_event_date_index" on "gallery_albums" ("is_published", "event_date");
CREATE INDEX "gallery_albums_is_published_sort_order_index" on "gallery_albums" ("is_published", "sort_order");
CREATE UNIQUE INDEX "gallery_albums_slug_unique" on "gallery_albums" ("slug");
CREATE INDEX "gallery_photos_gallery_album_id_sort_order_index" on "gallery_photos" ("gallery_album_id", "sort_order");
CREATE INDEX "facilities_is_published_sort_order_index" on "facilities" ("is_published", "sort_order");
CREATE UNIQUE INDEX "facilities_slug_unique" on "facilities" ("slug");
CREATE INDEX "ppdb_periods_is_active_is_published_index" on "ppdb_periods" ("is_active", "is_published");
CREATE UNIQUE INDEX "ppdb_periods_slug_unique" on "ppdb_periods" ("slug");
CREATE INDEX "ppdb_requirements_ppdb_period_id_is_active_sort_order_index" on "ppdb_requirements" ("ppdb_period_id", "is_active", "sort_order");
CREATE INDEX "ppdb_steps_ppdb_period_id_sort_order_index" on "ppdb_steps" ("ppdb_period_id", "sort_order");
CREATE INDEX "contacts_is_active_sort_order_index" on "contacts" ("is_active", "sort_order");
CREATE INDEX "contacts_type_index" on "contacts" ("type");
CREATE INDEX "social_links_is_active_sort_order_index" on "social_links" ("is_active", "sort_order");
CREATE UNIQUE INDEX "social_links_platform_unique" on "social_links" ("platform");
CREATE INDEX "site_settings_group_index" on "site_settings" ("group");
CREATE UNIQUE INDEX "site_settings_key_unique" on "site_settings" ("key");
CREATE INDEX "site_settings_is_public_index" on "site_settings" ("is_public");
COMMIT;
